.root {
  -fx-opacity: 1;
}

#rootParent{
   -fx-background-insets: 10;
   -fx-background-radius: 10;
   -fx-background-color: white;
   -fx-effect:dropshadow(three-pass-box, gray, 10, 0.5, 0, 0);
}

#titleBox{
	-fx-background-color:#F0F0F0;
	-fx-background-insets: 10;
    -fx-background-radius: 5 5 0 0;
}

#actionBox{

	-fx-background-insets: 0 10 10 10;
    -fx-background-radius: 0 0 5 5;
}

#title{
	-fx-font-weight:bold;
	-fx-fill: #404040;
	-fx-font-family: 'Microsoft YaHei';
}

#contentBox {
	-fx-background-insets: 0 10 0 10;
} 


#confirmBtn:hover,#cancelBtn:hover{
	-fx-cursor:hand;
}



#actionBoxs{
	-fx-background-color:#F0F0F0;
	-fx-background-insets: 0 10 10 10;
	-fx-background-radius: 0 0 5 5;
}

#confirm{
	-fx-background-insets: 0 10 10 10;
	-fx-background-radius: 0 0 5 5;
}

#confirm:hover{
	-fx-background-insets: 0 10 10 10;
	-fx-background-radius: 0 0 5 5;
	-fx-background-color:#D1D1D1;
	-fx-cursor:hand;
}


#confirmTextHover{
	-fx-fill:#43A543;
}

#titleSuccess,#titleWarning,#titleError{
	-fx-font-weight:bold;
}

#contentSuccess,#contentWarning,#contentError,#titleSuccess,#titleWarning,#titleError{
	-fx-font-family: 'Microsoft YaHei';
}

#titleSuccess,#success,#contentSuccess,#confirmTextSuccess{
	-fx-fill:#43A543;
}

#warning,#titleWarning,#contentWarning,#confirmTextWarning{
	-fx-fill:#F0711F;
}

#error,#titleError,#contentError,#confirmTextError{
	-fx-fill:#CE4646;
}
