#modalPane{
   -fx-background-insets: 10;
   -fx-background-radius: 7;
   	-fx-background-color: white;
   -fx-effect:dropshadow(three-pass-box, #505050, 10, 0.5, 0, 0);
}


#titlePane{
	-fx-background-color: #BCBCBC;
	-fx-background-insets: 10;
    -fx-background-radius: 5 5 0 0;
}


#confirmPane{
	-fx-background-color: #BCBCBC;
	-fx-background-insets: 10;
    -fx-background-radius: 0 0 5 5;
    /*-fx-border-color: #C5C5C5,#C5C5C5,#C5C5C5,red;
     
    -fx-border-radius:10;
    -fx-border-insets: 0,0,5,0;*/
}

#title,#confirmText,#content{
	-fx-font-family: 'Microsoft YaHei';
}

#title,#confirmText{
	-fx-fill: #4B4B4B;
	-fx-font-weight:bold;
}

#confirmPane:hover{
	-fx-background-color: #D1D1D1;
	    -fx-background-radius: 0 0 5 5;
}


.root {
  -fx-opacity: 1;
}
