#modalPane{
  
   -fx-background-insets: 10;
   -fx-background-radius: 9;
   	-fx-background-color: white;
   -fx-effect:dropshadow(three-pass-box, #505050, 10, 0.5, 0, 0);
   /*	
    *  -fx-background-insets: 10;
   -fx-background-radius: 5;
    * -fx-background-color: white;
   -fx-effect:dropshadow(three-pass-box, #2B988D, 10, 0.5, 0, 0);*/
}

#titlePane{
	-fx-background-color: #0F98A5;
	-fx-background-insets: 10;
    -fx-background-radius: 5 5 0 0;
}



#cancelText,#confirmText{ 
	-fx-fill: white;
}

#confirmPane{
	-fx-background-color: #0F98A5;
	-fx-background-insets: 10;
    -fx-background-radius: 0 0 0 5;
    /*-fx-border-color: #C5C5C5,#C5C5C5,#C5C5C5,red;
     
    -fx-border-radius:10;
    -fx-border-insets: 0,0,5,0;*/
}

#content{
	-fx-fill:gray;
}

#cancelPane{
	-fx-background-color: #0F98A5;
	-fx-background-insets: 10;
    -fx-background-radius: 0 0 5 0;
     /*-fx-border-color: #C5C5C5,#C5C5C5,#C5C5C5,red;
      
    -fx-border-radius:10;
    -fx-border-insets: 0,0,5,0;*/
}

#cancelPane:hover{
	-fx-background-color: #4BD3B4;
	-fx-background-radius: 0 0 5 0;
}

#title{
	-fx-font-weight:bold;
	-fx-fill: white;
}

#content,#title,#cancelText,#confirmText{
	-fx-font-family: 'Microsoft YaHei';
}

#confirmPane:hover{
	-fx-background-color: #4BD3B4;
    -fx-background-radius: 0 0 0 5;
}

#alertTitle{
	-fx-font-weight:bold;
	-fx-fill: #404040;
	
}
.root {
  -fx-opacity:1;
}

#closeModal:hover{
	-fx-fill: black;
	
}
/* text set the color -fx-text-fill*/
#reminderMessage {
	-fx-text-fill: #4B4B4B;
} 